body {
    margin: 0;
    background-color: grey;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: darkgray;
    font-size: 40px;
    font-family: monospace;
    text-shadow: 0 0 4px #000;

}
